@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-black-webfont.eot');
  src: url('../fonts/gothamhtf-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamhtf-black-webfont.woff2') format('woff2'),
  url('../fonts/gothamhtf-black-webfont.woff') format('woff'),
  url('../fonts/gothamhtf-black-webfont.ttf') format('truetype'),
  url('../fonts/gothamhtf-black-webfont.svg#gotham_htfblack') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-bold-webfont.eot');
  src: url('../fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
  url('../fonts/gothamhtf-bold-webfont.woff') format('woff'),
  url('../fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
  url('../fonts/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-book-webfont.eot');
  src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
  url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
  url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
  url('../fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-light-webfont.eot');
  src: url('../fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamhtf-light-webfont.woff2') format('woff2'),
  url('../fonts/gothamhtf-light-webfont.woff') format('woff'),
  url('../fonts/gothamhtf-light-webfont.ttf') format('truetype'),
  url('../fonts/gothamhtf-light-webfont.svg#gotham_htflight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gothamhtf-thin-webfont.eot');
  src: url('../fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothamhtf-thin-webfont.woff2') format('woff2'),
  url('../fonts/gothamhtf-thin-webfont.woff') format('woff'),
  url('../fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
  url('../fonts/gothamhtf-thin-webfont.svg#gotham_htfthin') format('svg');
  font-weight: 200;
  font-style: normal;

}
